Checks: >
  clang-analyzer-core.*,
  clang-analyzer-nullability.*,
  -clang-analyzer-optin.performance.Padding,
  -clang-diagnostic-deprecated-literal-operator,

WarningsAsErrors: ''

HeaderFilterRegex: '^(include|src|tests)/'

FormatStyle: file

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
