BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlwaysBreakTemplateDeclarations: Yes
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
Cpp11BracedListStyle: false
DerivePointerAlignment: false