name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        brew bundle

    - name: Configure with coverage
      run: |
        make build-cov

    - name: Run all tests
      run: |
        make test

    - name: Run style checks
      run: |
        make format-check
    
    - name: Run static analysis
      run: |
        make lint

    - name: Run coverage
      run: |
        make coverage

