name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        brew install cmake llvm clang-format
        
    - name: Configure and Build
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DCHARIZARD_WITH_MONGO=OFF
        cmake --build build -j
    
    - name: Run all tests
      run: |
        ctest --test-dir build --output-on-failure
    
    - name: Run style checks
      run: |
        make format-check
    
    - name: Run static analysis
      run: |
        make lint
